body{
    margin: 0;
}
.container{
    margin: 0 auto;
    max-width: 800px;
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sponsor_img{
    width: 100px;
    height: 100px;
}
.href_pages{
    margin: 0 auto;
}
table {
    font-size: 25px;
    border-collapse: collapse;
    text-align: center;
}
th, td:first-child {
    background: gray;
    color: white;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: gray;
    color: white;
}
th:first-child, td:first-child {
    text-align: left;
}

a{
    color:white;
}
